    layout {
        gaps 8 // Gap between windows
        center-focused-column "never" // Don’t auto-center focused column

        background-color "transparent" // <- needed for noctalia-shell to set wallpaper

        preset-column-widths {
            proportion 0.3
            proportion 0.5
            proportion 0.7
        }

        default-column-width { proportion 0.5; }

        struts {}

        border {
            on
            width 2
            active-color "#aaaaaa"
            inactive-color "#505050"
            urgent-color "#9b0000"
        }

        focus-ring {
            off
            width 1
            active-color "#a1caff"
            inactive-color "#505050"
        }
        

}
