    window-rule {
        geometry-corner-radius 8 // Set every window radius to 20
        clip-to-geometry true
    }

    layer-rule {
        match namespace="^noctalia-wallpaper*"
        place-within-backdrop true
    }
    window-rule {
        match title="Discord"
        open-on-workspace "3"
        open-focused false
    }
    window-rule {
        match title="Vivaldi"
        open-on-workspace "2"
        open-focused false
    }
    window-rule {
        match title="Spotify"
        open-on-workspace "3"
        open-focused false
    }
